*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: calibri;
}

/* =============== DECLEAR VARAIABLES ==================== */
:root{
    --image-circle-color: #086489;
    --color-primary: #020202;
    --color-secondary: #111111;
    --text-color:aqua;
}
/* ================ COMMON STYLE ==================== */
body
{
    background-color: var(--color-secondary);
    color: white;
}
a
{
    text-decoration: none;
    color: white;
}
li
{
    list-style-type: none;
}
/* ===================== STYLINK HEADER ================== */
header
{
    background-color: var(--color-primary);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    position: fixed;
}
.title
{
    color: white;
    font-size: 1.5rem;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
}
.title:hover
{
    transform: scale(1.2);
    cursor: pointer;
}
.title span
{
    color: var(--text-color);
}
/* ============ STYLING a TAG ========== */
/* ==================++++++++++++++++++++++++++++++++ */
/* ================ DISABLING HAMBERGUR ICON ================ */
.hamburger
{
    font-size: 1.5rem;
    display: none;
}
/* ================== STYLING NAVIGATION LINKS =============== */
.nav-bar ul
{
    display: flex;
    gap: 30px;
}
ul li a:hover
{
    text-decoration: underline 1px; /* underline 2px thick */
    color: var(--text-color);
    text-underline-offset: 6px;
}
/* ================== MAKING RESPONCIVE NAV BAR =============== */
@media(max-width: 550px)
{
    .hamburger
    {
        display: block;
        font-size: 1.5rem;
        color: white;
    }
    .nav-bar ul
    {
        display: none;
    }
    ul.active
    {
        display: none;
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
        width: 100%;
        left: 0px;
        padding: 20px 0px;
        align-items: center;
        background-color: var(--color-primary);
    }
}
@media(max-width: 330px)
{
   .title
    {
        font-size: 1rem;
    }
    .hamburger
    {
        font-size: 1rem;
    }
    header
    {
        padding: 0px 40px;
    }
}

/* ============== STYLINK HOME SECTION ============= */
.home
{
    width: 100%;
    height: 100vh;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home div
{
    padding: 20px 30px;
}
 .home .left_div
 {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .left_div h6 span
 {
    color: var(--text-color);
 }
 #name_text, #based_in_text
 {
    font-size: 1.5rem;
    white-space: nowrap;
 }
 #student_text
 {
    font-size: 6rem;
 }
 
 /* ============== STYLING IMAGE PART OF HOME SECTION =============== */
 .home .right_div
 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .right_div img
 {
    width: 250px;
    height: 250px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
 }
 .right_div img:hover
 {
    box-shadow: 0px 0px 10px 4px var(--text-color);
 }

 /* ============ RESPONSIVE HOME SECTION ================ */
@media(max-width: 860px)
{
    .right_div img
    {
        width: 200px;
        height: 200px;
    }
     #name_text, #based_in_text
    {
    font-size: 1rem;
    white-space: nowrap;
    }
    #student_text
    {
    font-size: 5rem;
     }
    
}
@media(max-width: 740px)
{
    .home div
    {
        padding: 5px 10px;
    }
}
@media(max-width: 700px)
{
    .home
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }
    #home_section_id div{
        display: flex;
        align-items: end;
        width: 100%;
        height: 100%;
    }
    .left_div h6, .left_div h1
    {
        text-align: center;
    }
    .left_div h6, .left_div h1
    {
        align-self: center;
        width: 90%;
    }
}
@media(max-width: 310px)
{
    #student_text
    {
        font-size: 4rem;
    }
}
/* =============== STYLING SERVICES SECTION ========= */
.services
{
    width: 100%;
    height: 100vh;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.services h1
{
    color: black;
}

/* ============ STYLING ABOUT SECTION ============ */
.about
{
    width: 100%;
    height: 100vh;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.about div
{
    margin: 20px;
}
.about div h6, .about div p
{
    font-size: 1rem;
    margin: 8px;
    text-align: justify;
}
#passionated_about_text span
{
    color: var(--text-color);
}
#mycote_text
{
    color: var(--text-color);
}

/* ============ STYLING PROJUCTS SECTION ============ */
.projucts
{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 80px;
    gap: 20px;
    background-color: var(--color-secondary);
}
.projucts h1
{
    color: var(--text-color);
    font-size: 2rem;
    white-space: nowrap;
} 
/* =============== STYLING PROJUCT SECTION PROJUCT CONATINER ================ */
.main_conatiner
{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 10px;
}
@media(max-width: 300px)
{
    .projucts
    {
        padding: 10px;
    }
}
.projuct_conatainer
{
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0.5px var(--color-primary);
    transition: 0.3s ease-in-out;
    transition: background-color 0.4s ease;
}
.projuct_conatainer:hover
{
    background-color: var(--text-color);
    color: black;
    transform: scale(1.04);
}
.projuct_view_btn
{
    width: 90%;
    height: 30px;
    font-size: large;
    background-color: var(--text-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.projuct_conatainer:hover .projuct_view_btn
{
    background-color: white;
    border: 2px solid var(--color-primary);
}
.title_content_btn_div
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50%;
    gap: 5px;
}
.projuct_conatainer img
{
    width: 100%;
    height: 50%;
    align-self:flex-start;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* overflow: hidden; */
}
.projuct_title
{
    white-space: nowrap;
}
.projuct_discriptin
{
    overflow: hidden;
    justify-content: center;
    width: 90%;
    height: 35%;
    font-size: 0.8rem;
    text-align: center;
}


